{lfe_first_files, []}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "https://github.com/rvirding/lfe.git", {tag, "v0.10.0"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.7.0"}}},
   {ltest, ".*", {git, "https://github.com/lfex/ltest.git", {tag, "0.7.0"}}}
  ]}.
{plugins, [
   {'lfe-compile', ".*", {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.0"}}},
   {'lfe-version', ".*", {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.2.0"}}}
  ]}.
{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.
